
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Yeni Dosya Ekle</title>
</head>
<body>

    <form action="/Home/Upload" method="post" enctype="multipart/form-data">
        <div>
            <label>Dosya Seçiniz</label>
            <input type="file" name="file" value="" />
        </div>
        <div>
            <button type="submit">Dosyayı Kaydet</button>
        </div>
    </form>
</body>
</html>